.UnitButton {
    border: 0;
    margin: 0.05rem;
    padding:0;
    user-select: none;
}

.UnitButton.Disabled{
    filter:grayscale(100%) contrast(75%);
    user-select: none;
}

body::-webkit-scrollbar{
    display:none;
}

.modal-dialog.modal-cw.modal-dialog-centered{
    width:100%;
    max-width: 1080px!important;
}

.Inventory .col{
    margin-left: 0;
    margin-right: 0;
    padding-left:0;
    padding-right:0;
}

.modal-title.h4{
    white-space:nowrap;
    user-select: none;
}

.Inventory.modal-body::-webkit-scrollbar{
    display:none;
}

.modal-body::-webkit-scrollbar{
    display:none;
}

.SubOptimizer.container-fluid .row .col{
    margin:0;
    padding:0;
    border:0;
    overflow:hidden;
}

.SubOptimizer.container-fluid .col{
    margin:0;
    padding:0;
    padding-right:0px;
    padding-left:0px;
    border:0;
    overflow:hidden;
}

.SubOptimizer.container-fluid .row .Selector.col-3{
    margin:0;
    border:0;
    overflow:hidden;
}

.col-9 {
    margin:0;
    padding:0;
}

.table.table-striped.table-bordered.table-borderless .UnitButton{
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor:unset;
    user-select: none;
}


.col-9 .table.table-striped.table-bordered.table-borderless .UnitButton{
    max-width: 240.54px;
    max-height:120.26px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    cursor:unset;
    user-select: none;
}

.col-2 {
    margin:0px;
    padding: 0px;
    border: 0px;
    max-width:140.3px;
}